{% extends 'auctions/layout.html' %}

{% block title %} Create Listing {% endblock %}

{% block body %}

    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
            <label for="category-select">Select Ctaegory:</label>
            <br>
            <select name="category"  class="custom-select col-sm-2" id="category-select">
                <option selected>Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}